body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.todoApp {
	width: 100%
}

.item {
	border: solid black 1px;
	margin: 4px;
	padding: 4px;	
}

.todoForm {
	padding: 4px;
	margin: 20px;
}

.deleteBtn {
	position: absolute;
	right: 0;
	margin-right: 10px;
}

.editBtn {
	position: absolute;
	right: 0;
	margin-right: 40px;
}

.conditionalEdit {
	display: inline;
}

.completed {
	text-decoration: line-through;
	background: lightgrey;
}

label {
	color: blue;
}